@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xibwhk');
  src:  url('fonts/icomoon.eot?xibwhk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xibwhk') format('truetype'),
    url('fonts/icomoon.woff?xibwhk') format('woff'),
    url('fonts/icomoon.svg?xibwhk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e902";
}
.icon-CheckCircle:before {
  content: "\e903";
}
.icon-CircleClock:before {
  content: "\e904";
}
.icon-CloseRemove:before {
  content: "\e910";
}
.icon-info:before {
  content: "\e919";
}
.icon-Refresh-left:before {
  content: "\e91a";
}
.icon-Archive:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-Dark-mode:before {
  content: "\e905";
}
.icon-Delete:before {
  content: "\e906";
}
.icon-Hide:before {
  content: "\e907";
}
.icon-Home:before {
  content: "\e908";
}
.icon-Light-mode:before {
  content: "\e909";
}
.icon-Loading:before {
  content: "\e90a";
}
.icon-Lock:before {
  content: "\e90b";
}
.icon-Logout:before {
  content: "\e90c";
}
.icon-Menu:before {
  content: "\e90d";
}
.icon-Monospace:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-SansSerif:before {
  content: "\e911";
}
.icon-Search:before {
  content: "\e912";
}
.icon-Serif:before {
  content: "\e913";
}
.icon-Setting:before {
  content: "\e914";
}
.icon-Show:before {
  content: "\e915";
}
.icon-Sun:before {
  content: "\e916";
}
.icon-Tag:before {
  content: "\e917";
}
.icon-Type:before {
  content: "\e918";
}
