button {
  padding: 0;
  outline: 0;
  border: none;
}

.fixBtn {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--white);
  border-radius: 10px;
  height: 45px;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  position: relative;
  z-index: 1;
  overflow: hidden;
  gap: 10px;
  &.disabled{
    pointer-events: none;
    filter: grayscale(1);
    opacity: 50%;
  }
}
