header {
  background-color: var(--white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  .header {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navBrands{
    position: relative;
    z-index: 9;
  }
}
